@import "tailwindcss";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #1a472a;
}
#app {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#game-container {
    position: absolute;
    inset: 0;
}

#react-root {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#react-root > * {
    pointer-events: auto;
}

@theme {
    --color-primary: #2c5530;
    --color-dark: #1a1a1a;
    --color-accent: #92cf04;
    --color-text: #ffffff;
}
